*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
.header {
  
    border-radius: 4px;
  }
  
  .nav {
    display: flex;
    max-width: 992px; /*para que se centre  los link del menu al medio*/
    margin: 0 auto; /*quede todo centrado 0 arri y abaj/ auto iz y derech*/
    margin: 40px;
  }
  /* titulo-header */
  .tex-1 {
    flex-direction: row;
    color:rgb(120, 125, 143) ;
  }
  /* estilos a los navegadores */
  
  .enlace-nav {
    text-decoration: none !important;
    margin: 20px;
    color: rgb(76, 73, 73);
    font-family: "Times New Roman", Times, serif;
    width: max-content; /*para que no me corte el contenido*/
  }
  /*el de registrarce*/
  .nav-link {
    color: rgb(120, 125, 143) !important;
    padding-top: 0px !important;
  }
  /*fondo header*/
  .tex-aling {
    margin: 0px 80px;
    margin-bottom: 15px !important;
  }
  .parrafo {
    margin: 15px 30%;
    color: rgb(120, 125, 143);
  }
  .cta {
    margin: 50px 170px;
    margin-top: 100px !important;
    text-decoration: none;
  }
  /* .fondo-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 20pzx;
    overflow: hidden;
    align-items: center;
  } */
  /* modificacion del logon en el menu */
  .img-logo {
    text-decoration: none !important;
    width: 3% !important;
    height: 3%;
  }
  .logo {
    display: flex;
    display: grid;
    justify-content: space-between;
    max-width: 992px;
    text-decoration: none;
    padding-left: 5pxs;
  }
  .logo > h1 {
    color: rgb(120, 125, 143);
    padding-left: 20px;
  }
  .logo > h1 > span {
    color: rgb(104, 41, 202)!important;
  }
  .navbar {
    padding-left: 5px;
  }
  .nav {
    display: grid;
    display: flex;
    justify-content: space-between;
    max-width: 992px; /*para que se centre tos los link del menu al medio*/
    margin: 0 auto;
  }
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
nav.bg-body-tertiary {
    background-color: rgb(21, 23, 28) !important;
  }
.col{
    flex-basis: 50%;
}
h1{
    color:rgb(120, 125, 143);
    font-size: 50px;
    padding-left: 20px;
}
button{
    width: 180px;
    color: rgb(129, 27, 177);
    font-size: 12px;
    padding: 12px 0px;
    background:white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
body{
    background-color: rgb(21, 23, 28);
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    /* border-radius: 10px; */
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(img/fondo_pagina_principal_lila.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
     
}
.card:hover{
    transform: translateY(-10px);
}
