/* NAVEGADOR */



/* estilos a los navegadores */

.enlace-nav {
  text-decoration: none !important;
  margin: 20px;
  color: rgb(76, 73, 73);
  font-family: "Times New Roman", Times, serif;
  width: max-content; /*para que no me corte el contenido*/
}
/*el de registrarce*/
.nav-link {
  color: rgb(120, 125, 143) !important;
  padding-top: 0px !important;
}
.img-logo {
  text-decoration: none !important;
  width: 3% !important;
  height: 3%;
}
.logo {
  display: flex;
  display: grid;
  justify-content: space-between;
  max-width: 992px;
  text-decoration: none;
  padding-left: 5pxs;
}
.logo > h1 {
  color: rgb(120, 125, 143) !important;
  padding-left: 20px;
}
.logo > h1 > span {
  color: rgb(104, 41, 202) !important;
}

.span-login{
  color: rgb(104, 41, 202) !important;
}
.navbar {
  padding-left: 5px;
}
.nav {
  display: grid;
  display: flex;
  justify-content: space-between;
  max-width: 992px; /*para que se centre tos los link del menu al medio*/
  margin: 0 auto;
}

.icon {
  flex-direction: row;
  width: 70px;
  margin-left: 0;
  margin-right: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#sub_titulo {
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #9400d3;
}
.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

main {
  display: block;
}
.text-center {
  text-align: center !important;
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f83687;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.boton-color {
  /* background-color: rgb(104, 41, 202) !important; */
  color: rgb(104, 41, 202) !important;
  letter-spacing: 4px;/*espacio entre las letras*/
  
}
/* .form-control {
  background-color: rgb(120, 125, 143) !important;
} */
.boton-color:hover{
  background-color: rgb(104, 41, 202);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(114, 39, 235),
              0 0 25px rgb(120, 55, 224),
              0 0 50px rgb(120, 55, 224),
              0 0 100px rgb(120, 55, 224);/*esto es para que cora las lineas por el boton*/
}


.aqui>a:hover{
  color: rgb(120, 55, 224);
}
/*pie de pagina*/
footer {
  text-align: center;
  padding-top: 95px;
  color: rgb(120, 125, 143);
}
form{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: rgb(21, 23, 28);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0, 0, .6);
}
