/*menu de navegacion primera pagina */
.header {
  background-color: none;
  border-radius: 4px;
}
.nav {
  display: flex;
  max-width: 992px; /*para que se centre  los link del menu al medio*/
  margin: 0 auto; /*quede todo centrado 0 arri y abaj/ auto iz y derech*/
  margin: 40px;
}
/* titulo-header */
.tex-1 {
  flex-direction: row;
}
/* estilos a los navegadores */

.enlace-nav {
  text-decoration: none !important;
  margin: 20px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  width: max-content; /*para que no me corte el contenido*/
}
/*el de registrarce*/
.nav-link{
  color: black !important;
  padding-top: 0px !important;
}
/*fondo header*/
.tex-aling {
  margin: 0px 80px;
  margin-bottom: 15px !important;
}
.parrafo {
  margin: 15px 30%;
}
.cta {
  margin: 50px 170px;
  margin-top: 100px !important;
  text-decoration: none;
}
/* .fondo-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  gap: 20pzx;
  overflow: hidden;
  align-items: center;
} */
/* modificacion del logon en el menu */
.img-logo {
  text-decoration: none !important;
  width: 3% !important;
  height: 3%;
}
.logo {
  display: flex;
  display: grid;
  justify-content: space-between;
  max-width: 992px;
  text-decoration: none;
}
.logo > h1 {
  color: black;
  padding-left: 20px;
}
.logo > h1 > span {
  color: #fd7e14 !important;
}

.nav {
  display: grid;
  display: flex;
  justify-content: space-between;
  max-width: 992px; /*para que se centre tos los link del menu al medio*/
  margin: 0 auto;
}
.colum-dos {
  display: flex;
  justify-content: center;
  align-items: start;
}
.listas-estilo {
  display: flex; /*quede en forma orizontal todo los linkd del menu*/
  margin-right: 20px; /*queden separados entre ellos desde la derecha*/
  list-style: none; /*borrar los puntitos que tienen la listas por defectos*/
  padding-left: 50%;
}

.container {
  display: flex;
  justify-content: right;
}
.boton-color {
  display: flex;
  background-color: #fd7e14 !important;
  border-radius: 10px;
  align-items: end;
}
/*boton alineaciones*/
.botones-alineacion {
  display: grid;
  grid-template-columns: repeat(2, 10%);
  align-items: center;
  padding-left: 20% !important;
  /* display: flex;
  align-items: center; */
}
.boton-popular {
  display: flex;
  border-radius: 10px;
  background-color: #f89b50 !important;
}

/*pie de pagina*/
footer {
  text-align: center;
  padding-top: 95px;
}

/*imagenes populares*/
.alinear-img-popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 20px;
  align-content: center;
  padding-left: 100px;
  background-color: rgb(242, 239, 236);
}
.img-popu {
  width: 200px !important;
}
/*titulo*/
.h2-titulo-popu {
  text-align: center !important;
  padding-bottom: 50px !important;
  padding-top: 50px;
}
.fondo-seccion{
  background-color: #eea55b;
  height: 400px;
  padding-top: 30px;
}
.listing-box-image-label{
    background-color: #429A66;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: .80em;
    font-weight: 700;
    padding: 4px 12px;
    position: absolute;
    left: 20px;
    top: 20px;
    text-transform: uppercase;
}
.lista-fondo{
  background-color:rgb(252, 251, 250);
}
.listing-box-image{
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    height: 160px;
    position: relative;
}
.listing-box-image-links {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity .15s linear;
}
/*h2 titulo del enlace*/
.listing-box-title h2 {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
/*lista del contenido del alquiler*/
.listing-box-content {
  font-size: .95em;
  padding: 20px;
}
/*titulo*/
 .listing-box-title {
  background-color: #f47b35;
}
/*precio alquiler*/
.listing-box-title h3 {
  color: rgba(21, 21, 21, 0.8);
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  margin: 7px 0 0 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
.listing-box-content dt {
  clear: left;
  color: #666666;
  float: left;
  font-weight: 400;
  line-height: 30px;
}
.listing-box-content dd {
  clear: right;
  color: #323232;
  float: right;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}
.listing-box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin: 0 0 30px 0;
  overflow: hidden;
  transition: box-shadow .15s linear;
}
